services:
  postgres_db:
    image: postgres:15-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: apolon_user
      POSTGRES_PASSWORD: apolon_password
      POSTGRES_DB: apolon_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: