@model Apolon.Core.Models.Medication

<h1>Create New Medication</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-top: 20px;">
                <input type="submit" value="Add Medication" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="margin-top: 20px;">
    <a asp-action="Index">Back to Medication List</a>
</div>